.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  &__social-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    padding: 10px;
  }

  &__copyright {
    text-align: center;
    margin: 20px 0;
  }

  &__icons {
    padding: 15px;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 700;
    margin: 10px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  &__privacy-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
}
